/* CATEGORIES STYLE START */ 
.categories{
    margin-bottom: 60px;
    font-family: $fontFamily;
    
    &-title{
        margin-bottom: 9px;
        @include section-title
    }
    
    &-desc{
        margin-bottom: 56px;
        @include section-desc
    }
    
    &-wrapper{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 16px;
    }
    
    &-content{
        
        &__item:first-child{
            display: inline-block;
            width: 100%;
            max-width: 639px;
            margin-bottom: 72px;
            padding: 377px 42px 10px 42px;
            background-image: url("../assets/img/noutbuk-img.png");
            background-position: calc(50% - 40px) 0px;
            background-repeat: no-repeat;
            box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.25);
            background-color: #FFF;
            text-align: right;
        }
        
        &__text{
            margin-top: 18px;
            font-family: 'Inter';
            font-size: 15px;
            line-height: 19.2px;
        }
        
        &__title{
            color: #000;
            text-align: right;
            font-size: 32px;
            line-height: 38.4px;
            font-weight: 400;
        }
        
        &__item:nth-child(2){
            display: inline-block;
            width: 100%;
            max-width: 639px;
            margin-bottom: 30px;
            padding: 70px 42px 56px 42px;
            background-image: url("../assets/img/watch.png");
            background-size: contain;
            background-position: calc(50% - 90px) 0px;
            background-repeat: no-repeat;
            box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.25);
            background-color: #FFF;
            text-align: right;
        }
        
        
        &:nth-child(2){
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 312px;
            background-image: url('../assets/img/double-iphone.png');
            background-position: calc(50% + 60px) 180px;
            background-repeat: no-repeat;
            box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.25);
        }
        
        &__phone-text{
            padding-top: 553px;
            color: #000;
            text-align: center;
            font-size: 15px;
            line-height: 19.2px; 
            font-family: 'Inter', sans-serif;
        }
        
        &__life-title{
            padding-bottom: 144px;
            color: #000;
            text-align: center;
            font-size: 32px;
            line-height: 38.4px;
            font-weight: 400;
        }
        
        &:nth-child(3){
            width: 100%;
            max-width: 312px;
            background-image: url('../assets/img/planshet.png');
            background-position: calc(50%) 250px;
            background-repeat: no-repeat;
            box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.25);
        }
        
        &__tablet-text{
            padding-top: 104px;
            text-align: center;
            font-family: 'Inter';
            font-size: 16px;
            line-height: 19.2px;
        }
        
        &__work-title{
            padding-bottom: 592px;
            text-align: center;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 38.4px;
        }
    }
}

@media only screen and(max-width:838px){
    .categories{

        &-content{

            &:first-child{
                display: block;
                margin: 0 auto;
            }
        }
    }
}

@media only screen and(max-width:670px){
    .categories{

        &-wrapper{
            flex-direction: column;
            align-items: center;
        }
    }
}

/* CATEGORIES STYLE END */ 