/* HERO STYLE START */ 
.hero{
    width: 100%;
    margin-bottom: 56px;
    font-family: $fontFamily;
    
    &-wrapper{
        padding-top: 145px;
        padding-bottom: 127px;
        border-radius: 32px;
        background-color: #DCE5E2;
        background-image: url('../assets/img/Iphone-img.png');
        background-position: calc(50% + 330px) 38px;
        background-repeat: no-repeat;
    }
    
    &-content{
        width: 100%;
        max-width: 588px;
        padding-left: 56px;
        
        &__title{
            margin-bottom: 19px;
            color: #000;
            font-size: 58px;
            font-style: normal;
            font-weight: 400;
            line-height: 69.6px;
        }
        
        &__desc{
            margin-bottom: 30px;
            color: #000;
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            line-height: 24.2px;
        }
        
        &__btn{
            padding: 14px 53px;
            color: #000;
            font-family: 'Inter', sans-serif;
            font-size: 18px;
            line-height: 21.6px;
            text-transform: capitalize;
            border-radius: 200px;
            border: 1px solid #000;
            background-color: transparent;
            cursor: pointer;
            transition: .4s;

            &:hover{
                background-color: #000;
                color: #fff;
            }
        }
    }
}

@media only screen and (max-width: 768px){
 .hero{
    &-wrapper{
        background-position: calc(50%) 0px;
        // background-size: contain;
    }

    &-content{
        max-width: 100%;
        padding: 390px 20px 0 20px;
        text-align: center;
    }
 }
}

@media only screen and (max-width:567px){
    .hero{

        &-wrapper{
            background-size: contain;
            background-position: calc(50%) 30px;
        }

        &-content{
            padding-top: 320px;

            &__title{
                font-size: 45px;
                line-height: 54px;
            }
        }
    }
}

@media only screen and (max-width:460px){
    .hero{

        &-content{
            padding-top: 250px;
        }
    }
}

@media only screen and (max-width:400px){
    .hero{

        &-content{
            padding-top: 200px;
        }
    }
}
/* HERO STYLE END */ 